# Dependencias
node_modules/

# Cobertura de pruebas (Jest)
coverage/
*.lcov

# Logs de error y del sistema
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Configuración del editor e IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

E2ETest/auth.json
E2ETest/.chromium-session/
E2ETest/auth/spotify_state.json